@import "tailwindcss";

:root {
  --background: #ffffff; /* light mode background */
  --foreground: #000000; /* light mode text */
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a; /* dark mode background */
    --foreground: #ffffff; /* dark mode text */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
